<!DOCTYPE html>
<html>
  <head>
    <title>DbSql</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_link_tag 'semantic', media: 'all' %>
    <script async defer data-website-id="d8253478-f2e8-4702-b11e-d21feb45f74e" src="https://umami.gbsl.website/tell-me.js"></script>
  </head>

  <body>
    <%= yield %>
    <%= javascript_pack_tag 'App' %>
  </body>
</html>
