<!DOCTYPE html>
<html>
  <head>
    <title>DbSql</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_link_tag 'semantic', media: 'all' %>
    <script async defer data-website-id="96fd6707-db9a-4c27-9f07-184c1bf5ed7e" src="https://umami.lebalz.ch/tell-me.js"></script>
  </head>

  <body>
    <%= yield %>
    <%= javascript_pack_tag 'App' %>
  </body>
</html>
